*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: Helvetica;
}


body{
    width: 100vh;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 120px; 
} /*로고 위치*/

.login-wrapper{
    background-color: transparent;
    width: 500px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 20px;
}

.login-wrapper > h2{
    font-size: 24px;
    color: #fff;
    margin-bottom: 80px;
}

#login-form > input{
    width: 100%;
    height: 35px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: #fff;
}

#login-form > input[type="submit"]{
    color: #FFF;
    font-size: 16px;
    background-color: #000;
    border-radius: 25px;
}

#login-form >input::placeholder{
    font-size: 15px;
    color: #575656;
}

.inner-button1, .inner-button2{
    position: absolute;
    margin-left: -50px;
    margin-top: 7.5px;
    padding: 3px 10px;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 10px;
    border-radius: 30px;
}

.inner-button1{
    background-color: #B8FDC8;
}

.inner-button2{
    background-color: #BFD6FF;
}

.inner-button span {
    position: relative;
    top: -1px;
}

.nextbutton{
    margin-top: 20px;
}

.nobutton{
    background-color: transparent;
    color: #626262;

}

input[type="text"]::placeholder {
    color: #B6BCBE;
}