body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
    margin: 20px;
}

h2 {
    font-size: 36px;
    margin: 0;
    width: 70%;
    /*text-align: center;*/
    color: #333;
}


nav {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #888;
    margin: 5px 0;
    font-size: 28px;
    padding: 40px;
}

nav a.active {
    color: #333;
    font-weight: bold;
}

.record-container {
    padding: 20px;
    background-color: #fcf6f5;
    border-radius: 8px;
    margin: 40px auto;
}

.date-info {
    display: flex;
    align-items: center;
}

.date-icon {
    margin-left: 50px;
    margin-right: 10px; /* date-icon과 date 사이의 간격을 조절 */
}

.date-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px 0;
}
.date {
    font-size: 1.5em;
    color: #91b6fa;
    font-weight: bold;
}

.delete-btn {
    color: #8e8e93;
    border: none;
    background: none;
    font-size: 1em;
    cursor: pointer;
}

.record-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 90%;
}

.record-list li {
    padding: 15px;
    background-color: #f0f4ff;
    border: 1px solid #d0daff;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    color: #4a4a4a;
    display: flex;
    align-items: center;
}

.record-list li:hover {
    background-color: #e0e8ff;
}

.record-list li::before {
    content: '→';
    margin-right: 10px;
    color: #91b6fa;
    font-weight: bold;
}
