*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Helvetica';
}


body{
    width: 100vh;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 120px; 
} /*로고 위치*/

.title > h2{
    font-size: 30px;
    color: #fff;
    margin-top: 60px;
}

.explainnum{
    font-size: 20px;
    color: #fff;
    margin-top: 30px;
    margin-right: 220px;
    margin-bottom: 10px;
}

.phonenum > input, .checknum > input {
    width: 450px;
    height: 33px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 15px; 
    font-size: 13px;
    border: 1px solid #fff;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: #fff;
}

.inner-button1, .inner-button2 {
    padding: 3px 10px;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 10px;
    border-radius: 30px;
}


.inner-button1 {
    background-color: #B8FDC8;
    position: absolute;
    margin-left: -50px;
    margin-top: 7.5px;
    padding: 3px 10px;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 10px;
    border-radius: 30px;
}

.inner-button2 {
    background-color: #BFD6FF;
    position: absolute;
    margin-left: -50px;
    margin-top: 7.5px;
    padding: 3px 10px;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 10px;
    border-radius: 30px;
}

.inner-button1 span, .inner-button2 span {
    position: relative;
    top: -1px;
}

.underbutton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.nextbutton {
    width: 450px;
    height: 35px;
    margin-top: 25px;
    font-size: 15px;
    color: #fff;
    background-color: #000;
    border-radius: 30px;
    cursor: pointer;
}

.nobutton {
    width: 450px;
    height: 35px;
    margin-top: 5px;
    font-size: 15px;
    color: #000;
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
}

input[type="text"]::placeholder {
    font-size: 15px;
    color: #B6BCBE;
}
