*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Helvetica';
}

body{
    width: 100vh;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 120px; 
} /*로고 위치*/

.title > h2{
    font-size: 30px;
    color: #fff;
    margin-top: 60px;
}

.first{
    font-size: 18px;
    color: #4E4E4E;
    margin-top: 60px;
    margin-bottom: 10px;
}

.email{
    font-size: 22px;
    color: #000;
}

.last{
    font-size: 22px;
    color: #4E4E4E;
}

.login{
    width: 450px;
    height: 35px;
    margin-top: 50px;
    font-size: 15px;
    color: #fff;
    background-color: #000;
    border-radius: 30px;
    cursor: pointer;
}