*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Helvetica';
}


body{
    width: 100vh;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 120px; 
} /*로고 위치*/

.login-wrapper > h2{
    font-size: 30px;
    color: #fff;
    margin-top: 90px;
    margin-right: 280px;
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
    width: 450px;
    height: 33px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 50px; 
    font-size: 13px;
    border: 1px solid #fff;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: #fff;
}

input[type="email"] {
    background-image : url(../assets/login.png);
    background-repeat : no-repeat;
    background-position: 10px;
    background-size: 30px;
}

input[type="password"] {
    background-image : url(../assets/password.png);
    background-repeat : no-repeat;
    background-position: 10px;
    background-size: 30px;
}


input::placeholder{
    font-size: 15px;
    color: #B6BCBE;
}


input:-webkit-autofill { 
    -webkit-box-shadow: 0 0 0 30px #fff inset; 
    -webkit-text-fill-color: #000; 
}


button.mainlogin{
    width: 450px;
    height: 35px;
    margin-top: 25px;
    font-size: 15px;
    color: #fff;
    background-color: #000;
    border-radius: 30px;
    cursor: pointer;
}

button.to_signup{
    width: 450px;
    height: 35px;
    margin-top: 5px;
    font-size: 15px;
    color: #000;
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
}

.page_center{
    display: flex;
    align-items: center;
}

label[for="remember"] {
    font-size: 15px;
    color: #fff;
    margin-left: 5px;
}

button.findemail{
    margin-left: 150px;
    background-color: transparent;
    margin-right: 5px;
    color: #5F5F60;
    cursor: pointer;
}

span{
    font-size: 13px;
    color: #5F5F60;
}

button.findpassword{
    margin-left: 5px;
    background-color: transparent;
    color: #5F5F60;
    cursor: pointer;
}

input[type="checkbox"]{
    cursor: pointer;
}