body {
    font-family: "KimjungchulGothic-Bold", Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidenav {
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E4E8F0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
  .sidenav a {
    padding: 4px 8px 4px 50px;
    text-decoration: none;
    font-size: 20px;
    color: #363636;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #A9CFE2;
  }
  
  .sidenav .home-link {
    margin-top: 10px;
  }
  
  .sidenav .record-link {
    margin-top: 10px;
  }
  
  .sidenav .mypage-link {
    margin-top: 50px;
  }
  
  .sidenav .friend-link {
    margin-top: 10px;
  }
  
  .sidenav .setting-link svg {
    width: 20px;
    height: 20px;
    margin-top: 50px;
  }
  
  .sidenav .dm-link svg {
    width: 20px;
    height: 20px;
    margin-top: 50px;
  }
  
  .sidenav .alarm-link svg {
    width: 20px;
    height: 20px;
    margin-top: 10px;
  }
  
  .sidenav .notify-link svg {
    width: 20px;
    height: 20px;
    margin-top: 10px;
  }
  
  .sidenav .profile-link svg {
    width: 50px;
    height: 50px;
    margin-top: 50px;
  }
  
  .sidenav .logout-link  {
    margin-top: 5px;
    font-size: 15px;
    margin-bottom: 200px;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 700px;
    right: 25px;
    margin-left: 50px;
  }
  
  .arrow {
    margin-right: 0px;
    position: fixed;
    bottom: 10px;
    cursor: pointer;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav { padding-top: 1500px; }
    .sidenav a { font-size: 18px; }
  }
 

/* 여기서부터 announcement_main_style */
.announcement_main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  margin-left: 250px; /* 사이드바 너비만큼 여백 추가 */
  width: calc(100% - 250px); /* 전체 너비에서 사이드바 너비를 뺀 만큼 설정 */
  transition: 0.5s;
  box-sizing: border-box;
}

.mainTitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.mainTitle img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.mainTitle h1 {
  font-size: 24px;
  margin: 0;
}

.announcements {
  background-color: transparent;
}

.announcement {
  margin-bottom: 5px;
  padding: 10px;
  background-color: #EEF0F4;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: block;
}

.announcement:hover {
  background-color: #f0f0f0;
}

.announcement p {
  margin: 0;
}

.date {
  font-size: 0.8em;
  color: #000000;
}