body {
    margin: 0;
    padding: 0;
    display: flex;
}

/* 여기서부터 notification_style */
.notification_main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  margin-left: 250px;
  width: calc(100% - 250px);
  transition: 0.5s;
  box-sizing: border-box;
}

/* 제목 */
.mainTitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.mainTitle img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 5px;
}

.mainTitle h1 {
  font-size: 24px;
  margin-top: 20px;
}

/* 알림들 */
.notification-scroll {
  overflow-y: auto;
  flex-grow: 1;
}

.notification-list {
  display: flex;
  flex-direction: column;
}

.notification-date-box {
  background-color: transparent;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
}

.notification-date {
  font-size: 18px;
  color: #91B6FA;
  margin-bottom: 10px;
  font-weight: 700;
  padding: 5px;
}

.notification-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #EEF0F4;
  border-radius: 5px;
}

.notification-time {
  font-size: 12px;
  color: #888;
  margin-right: 10px;
  white-space: nowrap;
}

.notification-content {
  flex-grow: 1;
}

/* 수락/거절 버튼 */
.accept-btn, .reject-btn {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.accept-btn, .reject-btn {
  background-color: #91B6FA;
  color: #000;  
  margin-left: 10px;
}


/* 모달(창) 스타일 */
#confirmBtn{
  background-color: #B8FDC8;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#cancelBtn {
  background-color: #BFD6FF;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  background-color: #EEF0F4;
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
}