* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: row;
}

#sidebar {
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
  background-color: #f5f5f5;
  margin-left: 250px;
  transition: margin-left 0.3s ease-in-out;
  padding: 40px;
  position: relative;
}

#timerContainer {
  position: absolute;
  top: 40px;
  right: 40px;
  text-align: right;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

#timer {
  font-size: 140px;
  font-weight: 900;
}

#timerCountDown {
  font-size: 30px;
}

#bus {
  width: 100%;
  max-width: 850px;
  aspect-ratio: 17 / 10;
  background-image: url(../assets/bus.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  margin-top: auto;
  position: relative;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.bus-content {
  position: absolute;
  top: 27%;
  left: 6%;
  width: 87%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.info-text {
  width: 100%;
  height: 100%;
  font-size: 30px;
  align-content: center;
}

.button-label {
  font-size: clamp(8px, 1.5vw, 12px);
  margin-top: 3px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile img {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
}

.user-name {
  font-size: clamp(10px, 2vw, 14px);
  margin-top: 5px;
}

@media (max-width: 768px) {
  .bus-content {
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
  }
}

.set-time-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.set-time-container button {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background: none;
  color: #6e96d7;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
